/*configuração GLOBAL*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
}

/*configuração do HEADER*/
header{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 20px;
    align-items: center;
    box-shadow: 2px 2px 3px 2px orangered;
}


header nav{
   gap: 10px;
   margin-left: 50rem;  
  
}

header button{
    background-color: white;
    border: none;
    
}

header button a{
    font-size: 25px;
    font-weight: 600;
    color: black;
    
}

.logo-header{
    width: 50px;
    height: 50px;
    
}

.logo-btn-header{
    width: 40px;
    height: 40px;
}

.menu-header{
    display: flex;
    gap: 30px;
    font-size: 25px;
    font-weight: 600;
}

.menu-header a{
    color: black;
}


/*configuração do BLOCO-01*/
.bloco-01{
    width: 100%;
    height: 70vh;
    background-color: black;
    padding: 20px;
}

.bloco-01 h1{
    padding: 1rem;
    text-align: center;
}

.bloco-01 p{
    text-align: justify;
    font-size: 20px;
    padding: 1.5rem;
}

.bloco-01 #video-sp {
    height: 70vh;
    width: 100%;
    
  }

/*configuração do BLOCO-02*/
.bloco-02{
    width: 100%;
    height: 70vh;
    background-color: white;
    padding: 25px;
}

.bloco-02 .div-pai{
    display: flex;
    margin-bottom: 20px;
}

.bloco-02 div{
    display: block;
    justify-content: space-evenly;
    gap: 20px;
}

.bloco-02 h1{
    text-align: center;
    padding: 2rem;
}

.bloco-02 h3{
    text-align: center;
    padding: 1rem;
}

.bloco-02 .img-all-blocos{
    width: 270px;
    height: 240px;
    box-shadow: 2px 2px 8px 2px orangered;
}

.div-pai p{
    width: 270px;
    text-align: center;
}

.div-pai .one{
    font-weight: bold;
    margin-top: 20px;
}



/*configuração do BLOCO-04*/
.bloco-04{
    width: 100%;
    height: 60vh;
    background-color: rgba(255, 68, 0, 0.793);
    padding: 25px;
    color: black;
}

.bloco-04 h2{
    text-align: center;
    margin-top: 25px;
}

.bloco-04 p{
    font-weight: 500;
    font-size: 19px;
    margin-top: 30px;
    max-width: 70rem;
    text-align: justify;
    margin-left: 10%;
}

/*configuração do FOOTER*/
footer{
    margin: 0 auto;
    padding: 3rem;
    background-color: black;
}
footer img{
    width: 50px;
    height: 50px;
}

footer a{
    color: white;
    font-weight: 500;
    
}